# Node.js dependencies
node_modules/
pnpm-lock.yaml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Next.js build artifacts
.next/

# Environment files
.env
.env.local

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
.vscode/

# Contracts
contracts/cache/
contracts/artifacts/
typechain-types/
typechain/

# Subgraph
subgraph/generated/
subgraph/build/
node_modules/
